// scss-lint:disable all
@font-face {
	font-family: 'NanumBarunGothic';
	src: url('./assets/fonts/NanumBarunGothic.eot');
	src: url('./assets/fonts/NanumBarunGothic.eot') format('embedded-opentype'), url('./assets/fonts/NanumBarunGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
