$primary: #343434;
$secondary: #959595;

$border: #bdbdbd;
$background: #f8f8f8;
$divider: #cfcfcf;

$red: #ef4665;
$blue: #02b5d6;
$green: #76d9c5;
$orange: #f47933;
$ocher: #fcb54d;
$yellow: #f4cb4d;
$white: #fff;
