$gutter: 20px;

$sm-columns: 6;
$sm-margin: 5px;

$md-columns: 10;
$md-margin: 73px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

$grid-margin: 15px;
